DATABASE_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_ORDER_GROUP_ID=-5110089662

SEPAY_BANK_ACCOUNT=
SEPAY_BANK_CODE=MB
SEPAY_ACCOUNT_NAME=BEP CO HA
SEPAY_WEBHOOK_TOKEN=

PANCAKE_SHOP_ID=1328295718
PANCAKE_API_KEY=
PANCAKE_VAR_500G=SOTTRONNOM500g
PANCAKE_VAR_1KG=SOTTRONNOM1KG
